[Unit]
Description=Enterprise SOC - Frontend (Next.js)
After=network.target enterprise-soc-backend.service

[Service]
Type=simple
User=socapp
WorkingDirectory=/home/socapp/enterprise-soc/fronted
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=5
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
